/* * {
  border: black 1px solid;
} */

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#dog {
  text-align: center;
  min-height: 2em;
  background-color: #215B33;
  padding-top: .75em;
  color: #215B33;
}

#dog:hover {
  color: white;
}

.dino {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dino img {
  margin-top: 5em;
  max-width: 15em;
}

.content {
  display: flex;
  flex-flow: column;
}

.content ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

.content li {
  margin: 0px 20px;
  max-width: 10%;
    max-height: 10%;
  color: green;
  text-align: center;

}

.content img {
  max-width: 30%;
}

/* SMALL SCREEN */
@media screen and (max-width: 500px) {
  .content img {
    max-width: 75%
  }
}
