/* * {
  border: black 1px solid;
} */

/* MAIN */
h1 {
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  margin-left: 5%;
  font-size: 1.25em;
}


.dino {
  background-color: white;
  padding-top: 6em;
  text-align: center;
}

.dino img {
  max-width: 20em;

}
.hero {
  background-repeat: no-repeat;
  background-image: url("../images/desktop2.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-position: center;

}

.content {
  display: flex;
  flex-flow: column;
}

.content ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content li {
  margin: 20px;
  max-width: 10%;
  color: green;
  text-align: center;
}

.content img {
  max-width: 30%;
}

/* SMALL SCREEN */
@media screen and (max-width: 500px) {
  .content img {
    max-width: 75%
  }
}
